
<div class="row mb-5">
    <% if @bicycles.length > 0 %>
      <% @bicycles.each do |booking| %>
      <div class="col-4 mb-3">
        <div class="card owner_card">
          <%= image_tag booking.bicycle.photo %>
          <div class="text-center">
            <h4><%= booking.bicycle.title %></h4>
            <p><%= booking.start_date.strftime('%e %b') %> to <%= booking.end_date.strftime('%e %b') %></p>
            <% if booking.confirmed %>

              <p><i class="fa-solid fa-check-double"></i> Ready to Ride!</p>

              <%= link_to root_path, class: "fs-2" do %>
                  <i class="fa-solid fa-rectangle-xmark"></i>
                <% end %>

            <% else %>
              <p><i class="fa-solid fa-spinner"></i> Ride requested</p>

              <div class="d-flex justify-content-evenly">
                <%= link_to "/confirm/#{booking.id}", class: "fs-2" do %>
                  <i class="fa-solid fa-square-check"></i>
                <% end %>

                <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fs-2" do %>
                  <i class="fa-solid fa-rectangle-xmark"></i>
                <% end %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
      <% end %>

    <% else %>

      <p class="text-muted">No rentals yet <i class="fa-solid fa-face-sad-tear"></i></p>
    <% end %>
</div>
