 <div>
  <%= simple_form_for [@bicycle, @booking] do |f| %>
      <h1>Rent: <%= @bicycle.title %></h1>
      <%= f.input :start_date, as: :date, label: "From", html5: true %>
      <%= f.input :end_date, as: :date, label: "Until", html5: true %>
      <div class="d-flex justify-content-between">
        <%= f.submit label: "Book now", class: "btn btn-outline-success" %>
        <p>Total: <%= @bicycle.price_per_day %> <i class="fa-solid fa-euro-sign"></i></p>
      </div>
    <% end %>
 </div>
