<div class="container">
  <h1>Book: <%= @bicycle.title %></h1>
  <%= simple_form_for [@bicycle, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit %>
  <% end %>
  <p><%= @bicycle.price_per_day %> €/Day</p>
</div>
