<div class="container mb-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>Your Booking for <strong><%= @booking.bicycle.title %></strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= image_tag @booking.bicycle.photo, class: "img-fluid" %>
    </div>
      <div class="col-6">
        <div>
          <h4>Bicycle details:</h4>
          <ul>
            <li>Category: <%= @booking.bicycle.category %></li>
            <li>Size: <%= @booking.bicycle.size %></li>
            <li>Price per day: <%= @booking.bicycle.price_per_day %></li>
          </ul>
          <h6>Description:</h6>
          <p><%= @booking.bicycle.description %></p>
        </div>
      </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 bg-light">
      <h3>Booking Details <span class="fs-6 text-muted">(ID: <%= @booking.id %>)</span></h3>
        <% if @booking.bicycle.user.username %>
          <p>Owner: <%= @booking.bicycle.user.username %></p>
          <p>Total: <%= @booking.total_price %></p>
          <p>Booking Status: <%= @booking.confirmed ? "Ready to go!" : "Pending" %> </p>
          <p>From: <%= @booking.start_date %> , Until:      <%= @booking.end_date %> <span class="text-muted">(<%= @booking.duration %> day)</span></p>
        <% end %>

    </div>
  </div>

</div>
