<div class="container mt-2 mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        Your Booking for <strong><%= @booking.bicycle.title %></strong>
        <span class="text-muted fs-4">
          <% if @booking.cancelled %>
            Cancelled
          <% elsif @booking.confirmed %>
            Confirmed
          <% else %>
            Pending
          <% end %>
        </span>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-5 d-flex align-items-center">
      <%= image_tag @booking.bicycle.photo, class: "img-fluid" %>
    </div>

      <div class="col-7">

        <div class="card_booking-details">
          <div class="row">
            <div class="col-5">
              <h6>Details</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <span>
                    <i class="fa-solid fa-person-biking"></i>
                    <span class="text-muted">Type:</span>
                  </span>
                  <%= @booking.bicycle.category %>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>
                    <i class="fa-solid fa-ruler-combined"></i>
                    <span class="text-muted">Size:</span>
                  </span>
                  <span>
                    <%= @booking.bicycle.size %>
                    <span class="text-muted">cm</span>
                  </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>
                    <i class="fa-solid fa-money-bill-1"></i>
                    <span class="text-muted">Daily fee:</span>
                  </span>
                  <span>
                    <%= @booking.bicycle.price_per_day.to_i %>
                    <i class="fa-solid fa-euro-sign"></i>
                  </span>
                </li>
              </ul>
            </div>
            <div class="col-7">
              <h6>Description</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= @booking.bicycle.description %></li>
              </ul>
              <h6 class="mt-2">Address</h6>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= @booking.bicycle.address %></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="">
          <div class="card_booking-details">
            <h3>Booking Details <span class="fs-6 text-muted">(ID: <%= @booking.id %>)</span></h3>
              <div class="row">
                <div class="col-5">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                      <span>
                        <i class="fa-solid fa-address-card"></i>
                        <span class="text-muted">Owner:</span>
                      </span>
                      <%= @booking.bicycle.user.username %>
                      </li>
                    <li class="list-group-item d-flex justify-content-between">
                      <% if @booking.confirmed %>
                        <span>
                          <i class="fa-solid fa-circle-check"></i>
                          <span class="text-muted">Status:</span>
                        </span>
                        <span>Ride confirmed!</span>
                      <% elsif @booking.cancelled %>
                        <span>
                          <i class="fa-solid fa-ban"></i>
                          <span class="text-muted">Status:</span>
                        </span>
                        <span>Cancelled</span>
                      <% else %>
                        <span>
                          <i class="fa-solid fa-hourglass"></i>
                          <span class="text-muted">Status:</span>
                        </span>
                        <span>Pending</span>
                      <% end %>
                    </li>
                  </ul>
                </div>
                <div class="col-7">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between">
                      <span>
                        <i class="fa-solid fa-calendar-days"></i>
                        <span class="text-muted">Dates:</span>
                      </span>
                      <span>
                        <%= @booking.start_date.strftime('%e %b') %> to <%= @booking.end_date.strftime('%e %b') %>
                        <span class="text-muted">(<%= pluralize(@booking.duration, "day") %>)</span>
                      </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between"><i class="fa-solid fa-calculator"></i> <span><%= @booking.total_price.to_i %> <i class="fa-solid fa-euro-sign"></i></span></li>
                  </ul>
                </div>
              </div>
          </div>
        </div>

      </div>
  </div>
</div>
