<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
     <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-bicycle fs-3"></i>
    <% end %>

    <form class="d-flex">
        <input id="search-bar" class="form-control me-2" type="search" placeholder="Find a Bicycle" aria-label="Search">
        <button id="btn-search" class="btn btn-success" type="submit">Search</button>
    </form>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <i class="fa-solid fa-bars fs-4 nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Browse Bicycles", bicycles_path, class: "dropdown-item" %>
              <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Rent your Bicycle", new_bicycle_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
