<div class='show'>
  <h1><%= @bicycle.title %></h1>
  <i class='photos'><%= image_tag @bicycle.photo %></i>

  <p>Category : <%= @bicycle.category %></p>
  <p>Size : <%= @bicycle.size %>cm</p>
  <p>Price : <%= @bicycle.price_per_day %> €/day</p>
  <p>Description : <%= @bicycle.description %></p>
  <%= link_to "Book it!", new_bicycle_booking_path(@bicycle), class: 'book btn btn-primary' %>
</div>
<div>



<%= simple_form_for(@review) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
</div>
